div {
     margin-left: 40%;
     margin-top: 10%;
     background: linear-gradient(45deg, purple 20%, pink 60%);
     width: 300px;
     height: 400px;
     text-align: center;
}
div h1 {
     padding-top: 50px;
     margin-top: 10px;
}
input {
     margin-top: 5px;
     padding: 5px;
     width: 50px;
}
